.content.measurement-page {
    margin-top: 100px;
}

.demo-pic {
    min-width: 300px;
    min-height: 300px;
    margin: 2% auto;
}

.instructions {
    padding: 5px;
}

.measurement-page h1 {
    padding: 10px;
}

@media only screen and (min-width: 1000px) {
    .demo-pic {
        max-width: 40%;
    }
}


@media only screen and (max-width: 1000px) {
    .demo-pic {
        max-width: 40%;
    }

    .instructions {
        padding: 15px;
    }

    .content.measurement-page {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .instructions {
        text-align: left;
    }
}