.content.measurement-page {
    margin-top: 125px;
}

.measure-pic {
    background-color: #fff;
    min-width: 300px;
    min-height: 300px;
    margin: 2% auto;
}

.measure-instructions {
}

.measurement-page h1 {
    padding: 10px;
}