.btn {
  border: 1px solid #aaa;
  font-family: "Varela Round",arial,sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 8px 12px;
  color: #333;
  background: #fff;
  border-radius: 3px;
  transition: all 0.3s;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}