@media (max-width: 500px) {
  .landing-page .logo {
    max-width: 90%;
    padding: 15px 0;
  }

  .landing-page section {
    padding: 15px;
  }
}

@media (min-width: 501px) {

  .landing-page section {
    padding: 30px 15px;
  }
}


.logo {
    padding: 2%
  }

  .content.landing-page {
    margin-top: 0;
  }

  fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .login-form legend {
    font-family: "Varela Round",arial,sans-serif;
    width: 100%;
    text-align: center;
    line-height: 38px;
    font-size: 35px;
    font-weight: 500;
    margin: 0 auto 45px;
  
  }
  
  .login-form {
    max-width: 400px;
    padding:40px;
    margin: 0 auto;
    border: none;
    background-color:#8fb0a9;
  }
  
  .login-form input {
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 15px;
    margin: 10px auto 20px;
  }

  .login-form button {
    font-family: "Varela Round",arial,sans-serif;
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px auto 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
  }
  
  .login-form button:hover {
  }

  .mission {
      max-width: 400px;
      margin: 0 auto;
  }
  
  .landing-page footer {
    text-align: center;
  }

  .landing-page footer a {
    text-decoration: none;
  }