@media only screen and (max-width: 999px) { 
    table {
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    thead {
        display: table-column;
        visibility: hidden;
    }
    
    tr {
        width: 100%;
        border: 1px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 5px;
        margin-bottom: 10px;
        display: block;
    
    }
    
    th, td {
        padding: 10px;
        text-align: left;
    }
    
    th {
        text-transform: uppercase;
        font-size: 16px;
    }
    
    td {
        display: block;
        text-align: right;
        font-size: 16px;
        border-bottom: 1px dotted #ddd;
    }

    td:last-child {
        border-bottom: none;
    }

    td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}



@media screen and (min-width: 1000px) {

    table {
        margin: 0 auto;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
    }

    thead {
        visibility: visible;
    }

    th {
        padding: 10px;
    }

    tr {
        display: table-row;
        border: 1px solid #ddd;
        padding: 5px;
        margin-bottom: 10px;
    }

    td {
        display: table-cell;
        font-size: 16px;
        border-bottom: 1px dotted #ddd;
        padding: 10px;
        
    }

    tr:nth-child(even) {
        /* color? */
    }

    td:before {
        content: '';
        display: none;
    }

}