@media screen and (min-width: 1000px) {

    .customer-table table {
        min-height: 400px;
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: end;
        border-bottom: 2px solid #ddd;
    }

}