body * {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    padding: 60px 0 0;
    font-size: 20px;
  }

  nav {
    padding: 1% 0;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 10; */
  }

  .column {
      display: inline-flex;
      flex-direction: column;
      min-width: 200px;
      min-height: 700px;
      background-color: #bbb;
  }

  footer {
    padding: 1% 0;
    background-color: #ddd;
    /* position: fixed; */
    left: 0;
    right: 0;
    bottom: 0
  }

  button {
    margin: 2% 1%;
  }